@mixin selected-button-style() {
  background-color: darken($primary, 30);
  color: darken($white, 30);
  transform: scale(0.95);
}

@mixin message-animation() {
  animation-duration: 0.5s;
  animation-timing-function: cubic-bezier(0.12, 0.63, 0.53, 0.88);
}

@mixin font-information() {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
